html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}
@media (max-width: 991px) {
  [class*="col-"]:not(:first-child){
      margin-top: 5px;
  }
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-info {
  border-left-color: #1ABC9C;
}
.bs-callout-info h4 {
    color: #1ABC9C;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
p.bg-danger { padding: 15px; }
